---
layout: default
---
<div class="card-columns">
  {% assign stories = site.data.user_stories | sort: 'priority' %}
  {% for story in stories %}
  <div class="card
  {% if story.priority == 1 %}
  bg-danger
  text-white
  {% endif %}
  {% if story.priority == 2 %}
  bg-warning
  {% endif %}
  {% if story.priority == 3 %}
  bg-success
  text-white
  {% endif %}
  ">
    <div class="card-body">
      <h4 class="card-title">{{ story.title }}</h4>
      <table class="table">
        <tr>
          <th class="text-right">As a</th>
          <td>{{ story.as-a }}</td>
        </tr>
        <tr>
          <th class="text-right">I want to</th>
          <td>{{ story.i-want-to }}</td>
        </tr>
        <tr>
          <th class="text-right">so that</th>
          <td>{{ story.so-that }}</td>
        </tr>
      </table>
    </div>
  </div>
  {% endfor %}

</div>
